#content {
    width: 100%;
    min-width: 667px;
    height: 680px;
    background-image: url(../IMAGES/airport.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 3px solid #454040;
}

#logo {
    position: relative;
    width: 60%;
    margin: -35px auto 10px auto;
    padding-top: 20px;
    text-align: center;
    font-family: "Poiret One", cursive;
    font-size: 28px;
    font-weight: 900;
}

.slideViewer {
    position: relative;
    width: 610px;
    margin: 20px auto 10px auto;
    overflow: hidden;
    height: 460px;
    border-radius: 10px;
    border: 5px solid #7b7b81;
}

#photoBox {
    position: relative;
    width: 100%;
    height: 460px;
}

.picture {
    position: absolute;
    width: 600px;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

.active {
    display: block;
}

.inActive {
    display: none;
}

#xf5 {
    background-image: url(../IMAGES/F5E.jpg);
}

#xb29 {
    background-image: url(../IMAGES/B29.jpg);
}

#xcobra {
    background-image: url(../IMAGES/supercobra.jpg);
}

#xf18 {
    background-image: url(../IMAGES/F18A.jpg);
}

#xv22 {
    background-image: url(../IMAGES/V22.jpg);
}


#arrows {
    position: relative;
    width: 580px;
    height: 30px;
    margin: -250px auto 0 auto;
}

#lftArrow {
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background-image: url(../IMAGES/lftArrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float: left;
}

#rtArrow {
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-image: url(../IMAGES/rtArrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float: right;
}

#scrollButtons {
    position: relative;
    margin: 95px auto 10px auto;
    width: 400px;
    height: 50px;
    background-color: #3c3c41;
    border: 3px solid #7b7b81;
    border-radius: 25px;
}

.button {
    position: relative;
    margin-top: 17px;
    margin-left: 34px;
    margin-right: 34px;
    width: 10px;
    height: 10px;
    border: 2px solid #7b7b81;
    border-radius: 5px;
    float: left;
}

#button1 {
    background-color: #7b7b81;
}

#button2 {
    background-color: #fff;
}

#button3 {
    background-color: #fff;
}

#button4 {
    background-color: #fff;
}

#button5 {
    background-color: #fff;
}
